name: Docker

on:
  push:
    branches:
      - master
      - github-docker
    tags:
      - '*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: GitHub Login
        uses: azure/docker-login@v1
        with:
          login-server: docker.pkg.github.com
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Docker Package and Version
        run: |
          set +e
          _=$(echo "$GITHUB_REF" | grep "^refs/heads/")
          if [ $? -eq 0 ]; then
            # branch
            if [ "$GITHUB_REF" = "refs/heads/master" ]; then
              VER=latest
              PKG=echidna
            else
              VER=testing
              PKG=testing
            fi
          fi
          _=$(echo "$GITHUB_REF" | grep "^refs/tags/")
          if [ $? -eq 0 ]; then
            # tag
            # refs/tags/v1.X => v1.X
            VER=$(echo "$GITHUB_REF" | sed -e 's/.*\///')
            PKG=echidna
          fi
          set -e
          echo "PKG=$PKG" >> $GITHUB_ENV
          echo "VER=$VER" >> $GITHUB_ENV

      - name: Docker Build
        run: docker build -t $PKG:$VER .

      - name: Push to GitHub Packages
        run: |
          docker tag $PKG:$VER docker.pkg.github.com/$GITHUB_REPOSITORY/$PKG:$VER
          docker push docker.pkg.github.com/$GITHUB_REPOSITORY/$PKG:$VER

      - name: DockerHub Login
        uses: azure/docker-login@v1
        with:
          login-server: registry.hub.docker.com
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Push to DockerHub
        run: |
          docker tag $PKG:$VER registry.hub.docker.com/trailofbits/echidna:$VER
          docker push registry.hub.docker.com/trailofbits/echidna:$VER
